# Your database parameters (don't change DB_HOST)
DB_HOST=db
DB_PORT=5432
DB_NAME=otp_codes
DB_USER=
DB_PASSWORD=

# Server parameters
SERVER_PORT=8080

# Generate and paste HS256 key
JWT_KEY=

# Base folder for generated codes file export, relative to app root
OUTPUT_PATH=./otp_output